{% extends "base.html" %}
{% block title %}Послуги{% endblock %}
{% block content %}
<h1>Наші послуги</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
  {% for s in services %}
  <div class="col">
    <a href="{% url 'service_detail' s.id %}" style="text-decoration: none;">
      <div class="card shadow-sm h-100">
        {% if s.image %}
        <img src="{{ s.image.url }}" class="card-img-top" alt="{{ s.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ s.title }}</h5>
          <p class="card-text text-dark">{{ s.description|truncatewords:25 }}</p>
        </div>
      </div>
    </a>
  </div>
  {% empty %}
  <p>Поки що немає послуг.</p>
  {% endfor %}
</div>
{% endblock %}
