{% extends "base.html" %}
{% block title %}{{ service.title }}{% endblock %}

{% block content %}
<div class="container py-4">

  <div class="card shadow-lg mb-4">
    {% if service.image %}
      <img src="{{ service.image.url }}" class="card-img-top" alt="{{ service.title }}">
    {% endif %}
    <div class="card-body">
      <h2 class="card-title">{{ service.title }}</h2>
      <p class="card-text fs-5">{{ service.description }}</p>
    </div>
  </div>

  <a href="{% url 'catalog' %}" class="btn btn-outline-light">← Назад до каталогу</a>

</div>
{% endblock %}
