{% extends "base.html" %}
{% block title %}{{ service.title }}{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="card shadow p-4">
    <img src="{{ service.image.url }}" alt="{{ service.title }}" class="img-fluid rounded mb-4" style="max-height: 100%; object-fit: cover;">
    <h2 class="text-primary mb-3">{{ service.title }}</h2>
    <p class="lead">{{ service.description }}</p>
    <div class="text-center mt-4">
      <a href="{% url 'make_order' %}" class="btn btn-primary">Замовити послугу</a>
    </div>
  </div>
</div>
{% endblock %}
